body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Source Serif Pro', serif;
    line-height: 1.5;
    color: #000;
}


header {
    padding: 0 5em;
    background-color: #A8A8A8;
    
}

.nav-list {/*
    width: 100%;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}


.nav-link {
    padding: 0 10px;
    line-height: 50px;
    transition: 0.3s;
}

.nav-item a {
    font-weight: bold;
    font-size: 18px;
    color: #03172A;
    transition: color 0.5s;
}

.nav-item a:hover {
    color: #ffffff;
    text-decoration: none;
}

.main-container {
    padding: 2em 5em 1em;
    display: flex;
    justify-content: center;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}
.section {
    width: 40%;
    padding: 0 50px;
}
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
    header {
        display: none;
    }
}

.main-container > .container {
    display: flex;
    flex-wrap: wrap;
}

#profile {
    display: flex;
    justify-content: center;
}
/*
.photo {
    max-width: 30vw;
}
*/

h1 {
    margin: 0;
    font: normal normal bold 5em/1.5 'Source Serif Pro', serif;
    color: #1A2335;
}


                            /* стилизация ссылок в разделе Courses*/
li > a {
    color: #3D3D3D;
    transition: color 0.5s;
}

li > a:hover {
    color: #B5B5B5;
    text-decoration: underline;
}

                            /*footer*/
footer { 
    width: 100%;
}

footer > .container {
    padding: 0.5em 5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #233546;
}

.container > a {
    color: #B5B5B5;
}
.container > p {
    margin: 10px 20px;
    color: #B5B5B5;
}

a > img {
    width: 10vw;
}

a {
    text-decoration: none;  
    color: #000;
}

.git {
    transition: color 0.5s;
}

.git:hover {
    text-decoration: underline;
    color: white;
}

.git > a {
    align-items: center;
    justify-content: center;
}

.git_icon {
    width: 2vw;
    margin-right: 10px;
}
